<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/assets2/images/favicon.ico">
    <link rel="apple-touch-icon" href="/static/assets2/images/icon.png">

    <!-- Google font (font-family: 'Roboto', sans-serif;) -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- Google font (font-family: 'Roboto Condensed', sans-serif;) -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/assets2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets2/css/plugins.css">
    <link rel="stylesheet" href="/static/styles/core/style.css">

    <!-- Modernizer js -->
    <script src="/static/assets2/js/vendor/modernizr-3.5.0.min.js"></script>
    <style>
        .main-area{
            background-image:url("/static/assets2/images/bg.png");
        }
    </style>
</head>
<body>
    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper" >

        <!-- Header -->
        <header class="header header-style transparent-header sticky-header">
            <div class="container d-none d-lg-block">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-inner">
                            <div class="logo text-center">
                                <h1>Technical Event</h1>
                            </div> 
                            <a href="/login" class="cr-btn cr-btn-sm">
                                <span>Login</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            
        </header>
        <!-- //Header -->

        <!-- Breacrumb Area -->
        <div class="breadcrumb-area main-area" data-black-overlay="7">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                        <div class="cr-breadcrumb text-center">
                            <h1>Technical Event Name</h1>
                            <p>These Event is for those student who are adept in their respective domains <br>
                                Consist of three Rounds: 
                                <br>
                                 1.Multiple Choice Question</br>
                                 2.Programming Round</br>
                                 3.Project Development Round</br> 
                                 <br>
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Breacrumb Area -->


        <!-- Page Content -->
        
                <div class="jumbotron">
                    <div class="row">  
                        <div class="col-md-3"></div>
                                <div class="col-md section-title col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                                    <h2 class="text-center">Instructions</h2>
                                    <p > 
                                    <ol>
                                        <li>There are more than six technical domains out of which selection of two mendetory.</li>
                                        <li>Refresh Page and Navigate Tab is not Allowed Otherwise Test Automatic Submitted.</li>
                                        <li>After 5 min of Test Start You can't Able to start Test.</li>
                                        <li>Result of each Round Appear on Scoreboar after 15 min of test Complition.</li>
                                        <li>After Complete your test within time click on 'Submit Test' Otherwise it can't be considerd.</li>
                                        <li>Top 10 Performers of Round 1 can have chance to go dirctly Round 3.</li>
                                    </ol> 
                                    </p>
                                </div> 
                                <div class="col-md-2"></div>
                        </div>
                    </div>
                 
            </div>

            <!-- Call To Action Area -->
            <section class="callto-action-area bg-theme">
                <div class="container">
                    <div class="row">
                        <div class="col-md col-xl-12 col-sm-8">
                            <div class="callto-action">
                                <div class="callto-action-inner">
                                    <h2>Round 1: MCQ </h2>  
                                    <p>The MCQ are from those domains, which ar selected by the students of their choice.It will be of 30 minute.</p>         
                                </div>
                                <br><br>
                                <div class="callto-action-inner">
                                        <h2>Round 2: Programing </h2>  
                                        <p>Those who qualify the Round 1 .Then next Round is Programing Round .Time allocation for each student is one hour.</p>         
                                </div>
                                <br><br>
                                <div class="callto-action-inner">
                                        <h2>Round 2: Project Development</h2>  
                                        <p>Those who qualify the Round 2 .Then next Round is Project Development .In this each student wil have to develop or fullfill the given task.Time allocation for each student is one hour.</p>         
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </section>
            <!--// Call To Action Area -->

        </main>
        <!--// Page Content -->

        <!-- Footer Area -->
        <footer id="footer">

            <!-- Footer Top Area -->
            <div class="bg-dark-light section-padding-sm">
                <div class="container">
                    <div class="footer-widgets widgets">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-widget footer-widget-about">
                                    <h1>Event Name</h1>
                                    <p>These Event is for those student who are adept in their respective domains.</p>
                                </div>
                                <!--// Single Widget -->
                            </div>

                            <div class="col-lg-2">
                            </div>

                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-widget widget-quick-contact">
                                    <h5 class="footer-widget-title">Contact Us</h5>
                                    <ul>
                                        <li>
                                            <p>
                                                <a href="javascript:;">Phone : +998 587 4589</a>
                                            </p>
                                            <p>
                                                <a href="javascript:;">Email : email@mail.com</a>
                                            </p> 
                                        </li>
                                    </ul>
                                </div>
                                <!--// Single Widget -->
                            </div>

                           

                        </div>
                    </div>
                </div>
            </div>
            <!--// Footer Top Area -->

            <!-- Footer Bottom Area -->
            <div class="footer-bottom-area bg-white">
                <div class="container">
                    <div class="row">
                        <div class=" callto-action-area bg-theme col-lg-12">
                            <div class="callto-action-inner ">
                                    <h1 style="margin-left:20%;">For the Students by the Students</h1>
                            </div>
                             
                        </div>
                         
                    </div>
                </div>
            </div>
            <!--// Footer Bottom Area -->

        </footer>
        <!-- //Footer Area -->

    </div>
    <!-- //Main wrapper -->

    <!-- JS Files -->
    <script src="/static/assets2/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/assets2/js/popper.min.js"></script>
    <script src="/static/assets2/js/bootstrap.min.js"></script>
    <script src="/static/assets2/js/plugins.js"></script>
    <script src="/static/assets2/js/active.js"></script>
    <script src="/static/assets2/js/scripts.js"></script>
</body>

</html>